.spinner-overlay {
  position        : fixed;
  top             : 0;
  left            : 0;
  width           : 100vw;
  height          : 100vh;
  /* Nền trắng mờ (0.8 là độ mờ) */
  background-color: rgba(255, 255, 255, 0.8);
  /* Đặt lớp cao hơn tất cả các thành phần khác */
  z-index         : 9999;
  display         : flex;
  justify-content : center;
  align-items     : center;
}

.spinner {
  border-radius: 50%;
  display      : inline-block;
  animation    : spin 1s linear infinite;
  border-width : 4px;
  border-style : solid;
  border-color : #333 transparent #333 transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}